#
# .gitignore
# =============================================================================
# VIRTual BLocK IO SIMulating (virtblkiosim). Version 0.1
# =============================================================================
# Virtual Linux block device driver for simulating and performing I/O.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
# =============================================================================
# Copyright (C) 2016 Radislav (Radicchio) Golubtsov
#

# === Object files ============================================================
*.o
*.ko

# === Intermediates ===========================================================
*.mod
*.mod.*
*.cmd
*.order
*.symvers

# === Executables =============================================================
virtblkioctl

# vim:set nu:et:ts=4:sw=4:
